In [3]:
import pandas as pd
import sqlite3

In [4]:
def create_tables_from_excel(excel_file, database_file):
    # Connect to SQLite database (or create it if it doesn't exist)
    conn = sqlite3.connect(database_file)
    cursor = conn.cursor()

    # Read the Excel file
    excel_data = pd.ExcelFile(excel_file)

    # Iterate through each sheet in the Excel file
    for sheet_name in excel_data.sheet_names:
        # Read the sheet into a DataFrame
        df = excel_data.parse(sheet_name)

        # Dynamically create a table based on the sheet name and DataFrame columns
        columns = ", ".join([f"{col} TEXT" for col in df.columns])
        create_table_query = f"CREATE TABLE IF NOT EXISTS {sheet_name} ({columns});"
        cursor.execute(create_table_query)

        # Insert data into the table
        for _, row in df.iterrows():
            placeholders = ", ".join(["?" for _ in row])
            insert_query = f"INSERT INTO {sheet_name} VALUES ({placeholders});"
            cursor.execute(insert_query, tuple(row))

    # Commit changes and close the connection
    conn.commit()
    conn.close()

In [5]:
x=pd.read_excel('data/food_options.xlsx', sheet_name='breakfast')

In [6]:
x.head()

         day           breakfast_option      breakfast_description
0     Monday            besan ka cheela            besan ka cheela
1    Tuesday                    uttapam                    uttapam
2  Wednesday         parantha and sabji         parantha and sabji
3   Thursday  vermicille and boiled egg  vermicille and boiled egg
4     Friday       egg bhurji and toast       egg bhurji and toast

In [20]:

# Example usage
excel_file = "data/food_options.xlsx"  # Path to your Excel file
database_file = "data/fooddb.db"  # Path to your SQLite database
create_tables_from_excel(excel_file, database_file)

In [23]:
x=list_databases()
print(x[0])
list_tables("data/fooddb.db")

fooddb.db

['breakfast', 'lunch', 'dinner', 'foodmenu_tracker']

In [25]:
show_table_content(database_file, 'breakfast')

(['day', 'breakfast_option', 'breakfast_description'],
 [('Monday', 'besan ka cheela', 'besan ka cheela'),
  ('Tuesday', 'uttapam', 'uttapam'),
  ('Wednesday', 'parantha and sabji', 'parantha and sabji'),
  ('Thursday', 'vermicille and boiled egg', 'vermicille and boiled egg'),
  ('Friday', 'egg bhurji and toast', 'egg bhurji and toast'),
  ('Saturday', 'moong dal cheela', 'moong dal cheela'),
  ('Sunday', 'stuff parantha and chutney', 'stuff parantha and chutney')])

In [14]:
# Code to list all databases in working directory
import sqlite3
import os
def list_databases():
    """List all SQLite database files in current directory"""
    databases = []
    for file in os.listdir('data'):
        if file.endswith('.db'):
            databases.append(file)
    return databases

# Code to list all tables in selected database
def list_tables(db_name):
    """List all tables in specified database"""
    try:
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()
        
        # Query to get all table names
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        tables = cursor.fetchall()
        
        conn.close()
        return [table[0] for table in tables]
    except sqlite3.Error as e:
        print(f"Error connecting to database: {e}")
        return []

# Code to see table content
def show_table_content(db_name, table_name):
    """Show all content of specified table"""
    try:
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()
        
        # Get column names
        cursor.execute(f"PRAGMA table_info({table_name})")
        columns = [col[1] for col in cursor.fetchall()]
        
        # Get all rows
        cursor.execute(f"SELECT * FROM {table_name}")
        rows = cursor.fetchall()
        
        conn.close()
        return columns, rows
    except sqlite3.Error as e:
        print(f"Error reading table: {e}")
        return [], []

In [1]:
from datetime import datetime, timedelta

# Get today's date
today = datetime.now()

# Calculate tomorrow's date
tomorrow = today + timedelta(days=1)

# Extract the day name
day_of_tomorrow = tomorrow.strftime("%A")

print(f"The day of tomorrow is: {day_of_tomorrow}")

The day of tomorrow is: Sunday